[Unit]
Wants=network.target
Description=Survieillance Camera RTSP Proxy

[Service]
User=rtsp
Group=rtsp
Restart=on-failure
WorkingDirectory=/home/rtsp/rtsp
ExecStart=/home/rtsp/rtsp/rtsp-simple-server

[Install]
WantedBy=multi-user.target
